
<button mat-icon-button class="close-button" [mat-dialog-close]="true">
    <mat-icon class="close-icon" color="warn">close</mat-icon>
  </button>
<h2>Profile registration</h2>

<form [formGroup]="myform" class="form-container" >
  <h1>Profile Information</h1>
  
  Name <br />
  <mat-form-field id="namefield" class="example-full-width" appearance="fill">
    <mat-label>First name </mat-label>
    <input  [errorStateMatcher]="matcher" matInput formControlName="firstname"  />
    <mat-error
      *ngIf="
        myform.controls['firstname'].dirty ||
        myform.controls['firstname'].touched
      "
    >
      <mat-error *ngIf="myform.controls['firstname'].errors?.['required']"
        >Name is required</mat-error
      >
      <mat-error *ngIf="myform.controls['firstname'].errors?.['minlength']"
        >Minimum 3 chars</mat-error
      >
      <mat-error *ngIf="myform.controls['firstname'].errors?.['maxlength']"
        >Max 20 chars</mat-error
      >
      <mat-error *ngIf="myform.controls['firstname'].errors?.['pattern']"
        >Input a valid name please</mat-error
      >
    </mat-error> </mat-form-field
  >&nbsp;

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Last name </mat-label>
    <input [errorStateMatcher]="matcher" matInput formControlName="lastname" />
    <mat-error
      *ngIf="
        myform.controls['lastname'].dirty ||
        myform.controls['lastname'].touched
      "
    >
      <mat-error *ngIf="myform.controls['lastname'].errors?.['required']"
        >Lastname is required</mat-error
      >
      <mat-error *ngIf="myform.controls['lastname'].errors?.['minlength']"
        >Minimum 3 chars</mat-error
      >
      <mat-error *ngIf="myform.controls['lastname'].errors?.['maxlength']"
        >Max 20 chars</mat-error
      >
      <mat-error *ngIf="myform.controls['lastname'].errors?.['pattern']"
        >Input a valid last name please</mat-error
      >
    </mat-error> </mat-form-field
  ><br />
  Password:  <br />
  <mat-form-field  id="password" appearance="fill">
    <mat-label>Password</mat-label>
    <input
      matInput
      [type]="showPassword ? 'text' : 'password'"
      name="password"
      formControlName="password" [errorStateMatcher]="matcher"
    />
    <mat-icon matSuffix (click)="togglePasswordVisibility()">
      {{ showPassword ? "visibility_off" : "visibility" }}
    </mat-icon>
    <mat-error
      *ngIf="
        myform.controls['password'].dirty ||
        myform.controls['password'].touched
      "
    >At least one uppercase and a number
      <mat-error *ngIf="myform.controls['password'].errors?.['required']"
        >Password is required</mat-error
      >
      <mat-error *ngIf="myform.controls['password'].errors?.['minlength']"
        >Minimum 5 chars</mat-error
      ></mat-error
    >
  </mat-form-field>

  <br /><br>
  
  
  <mat-dialog-actions  >
      <button mat-raised-button color="primary"  [disabled]="myform.invalid">
          Submit
        </button>
  <!-- <button mat-button mat-dialog-close  >Close</button> -->
</mat-dialog-actions>
</form>